<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table  class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">Year</th>
      <th scope="col">Quantity</th>
      <th class="actions" scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each_with_index do |book, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to book.title, book %></td>
        <td><%= link_to book.author.full_name, book.author %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.year %></td>
        <td><%= book.quantity %></td>
        <td><%= link_to fa_icon('eye'), book %></td>
        <td><%= link_to fa_icon('edit'), edit_book_path(book) %></td>
        <td><%= link_to fa_icon('trash'), book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Book', new_book_path, class:"btn btn-primary" if user_signed_in? && current_user.librarian?%>
