<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
  <% end %>

    <%= yield %>
  <section class="py-5 text-center container">

  <% if user_signed_in? %>
    <%= link_to('Home', root_path, class:"btn btn-primary") %>
    <%= link_to('Edit Profile', edit_user_registration_path, class:"btn btn-primary") %>
    <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class:"btn btn-primary") %>
      <% if current_user.librarian? %>
        <%= link_to('Admin Path', "/admin", class:"btn btn-primary") %>
      <% end %>
  <% else %>
    <%= link_to('Sign Up', new_user_registration_path, class:"btn btn-primary") %>
    <%= link_to('Sign In', new_user_session_path, class:"btn btn-primary")  %>
  <% end %>
  </section>
  </body>
</html>
