<!DOCTYPE html>
<html>
  <head>
    <title>Retraining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
  <% end %>

    <%= yield %>
  <section class="py-5 text-center container">
  <% if can? :manage, User %>
    <p>Visible only for Librarian! </p>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to('Go Home', root_path) %>
    <%= link_to('Edit Registration', edit_user_registration_path) %>
    <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
      <% if current_user.librarian? %>
        <%= link_to('Admin Path', "/admin") %>
      <% end %>
  <% else %>
    <%= link_to('Sign Up', new_user_registration_path)  %>
    <%= link_to('Sign In', new_user_session_path)  %>
  <% end %>
  </section>
  </body>
</html>
